<md-dialog aria-label="Add Trip">
  <form ng-cloak style="padding:20px">
    <md-toolbar style="background:none; color:#333;">
      <div class="md-toolbar-tools">
        <h2>Add trip</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          X
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <!-- <h2>WHY IS THIS NOT CHANGING</h2> -->
        <p>
          Location
        </p>
        <mat-form-field>
     <input matInput placeholder="Location">
      </mat-form-field>
        <p>
          Hotel
        </p>
        <p>
          Duration
        </p>
        <p>
          Length of Day
        </p>
        <hr/>
        <p>
          Groupmates
        </p>
        <p>
          BID
        </p>
      </div>

<!--       <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field> -->

  hello world
</div>


    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="answer('add-trip')">
        Add trip
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>